# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build folders
build/
dist/
tmp/
temp/

# React / Frontend
frontend/node_modules/
frontend/build/

# VSCode settings
.vscode/

# Uploads / user files
uploads/

# Optional: database files
*.sqlite
*.db
